target
.idea
.vscode
.git
**/*.iml
node_modules
# Unused assets and folders (exclude from image)
/mavi.jpg
/riot api/
backend/target
/backend/src/main/resources/static/mavi.*
/backend/src/main/resources/static/ui/**
